@import url(https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css);

* {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

div .left {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

div .right {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.container {
	height: 90vh;
	width: 90vw;
}
